/*!
 * Plug Avatar Animation
 * https://bitbucket.org/anjanms/plug-avatar-animation/
 * 
 * The MIT License (MIT)
 * 
 * Copyright (c) 2015 Anthony Neal Schneider Jr
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

@import './avatar-manifest.css';

.plug-avatar {background-repeat: no-repeat;}

/* Small Avatars 150x150 (3600x150)
 * Idle: 0 (1 Frame)
 * Blink: 150 - 600 (3 Frames)
 * Dance: 600 - 3600 (20 Frames)
 *
 * Small Epic Avatars 200x200 (4800x200)
 * Idle: 0 (1 Frame)
 * Blink: 200 - 800 (3 Frames)
 * Dance: 800 - 4800 (20 Frames)
 */

.plug-avatar.small {width: 150px; height: 150px;}

@keyframes blink-small {
    0% {background-position: 0px;} 
    80% {background-position: 0px;}
    100% {background-position: -600px;}
}

@keyframes dance-small {
    0% {background-position: -600px;}
    100% {background-position: -3600px;}
}

@-webkit-keyframes blink-small {
    0% {background-position: 0px;} 
    80% {background-position: 0px;}
    100% {background-position: -600px;}
}

@-webkit-keyframes dance-small {
    0% {background-position: -600px;}
    100% {background-position: -3600px;}
}

.plug-avatar.small.blink {animation: blink-small 2000ms steps(4) infinite; -webkit-animation: blink-small 2000ms steps(4) infinite;}
.plug-avatar.small.dance {animation: dance-small 2000ms steps(20) infinite; -webkit-animation: dance-small 2000ms steps(20) infinite;}

.plug-avatar.small[class*="-e01"] {width: 200px; height: 200px;}

@keyframes blink-small-epic {
    0% {background-position: 0px;} 
    80% {background-position: 0px;}
    100% {background-position: -800px;}
}

@keyframes dance-small-epic {
    0% {background-position: -800px;}
    100% {background-position: -4800px;}
}

@-webkit-keyframes blink-small-epic {
    0% {background-position: 0px;} 
    80% {background-position: 0px;}
    100% {background-position: -800px;}
}

@-webkit-keyframes dance-small-epic {
    0% {background-position: -800px;}
    100% {background-position: -4800px;}
}

.plug-avatar.small.blink[class*="-e01"] {animation: blink-small-epic 2000ms steps(4) infinite; -webkit-animation: blink-small-epic 2000ms steps(4) infinite;}
.plug-avatar.small.dance[class*="-e01"] {animation: dance-small-epic 2000ms steps(20) infinite; -webkit-animation: dance-small-epic 2000ms steps(20) infinite;}

/* Big Avatars 220x220 (5280x220)
 * Idle: 0 (1 Frame)
 * Blink: 220 - 880 (3 Frames)
 * Dance: 880 - 5280 (20 Frames)
 */

.plug-avatar.big {height: 220px; width: 220px;}

@keyframes blink-big {
    0% {background-position: 0px;}
    80% {background-position: 0px;}
    100% {background-position: -880px;}
}

@keyframes dance-big {
    0% {background-position: -880px;}
    100% {background-position: -5280px;}
}

@-webkit-keyframes blink-big {
    0% {background-position: 0px;}
    80% {background-position: 0px;}
    100% {background-position: -880px;}
}

@-webkit-keyframes dance-big {
    0% {background-position: -880px;}
    100% {background-position: -5280px;}
}

.plug-avatar.big.blink {animation: blink-big 2000ms steps(4) infinite; -webkit-animation: blink-big 2000ms steps(4) infinite;}
.plug-avatar.big.dance {animation: dance-big 2000ms steps(20) infinite; -webkit-animation: dance-big 2000ms steps(20) infinite;}

/* DJ Avatars 170x220 (3400x220)
 * Dance: 0 - 3400 (20 Frames)
 *
 * DJ Epic Avatars 220x275 (4400x275)
 * Dance: 0 - 4400 (20 Frames)
 */

.plug-avatar.dj {width: 170px; height: 220px;}

@keyframes dance-dj {
    0% {background-position: 0px;}
    100% {background-position: -3400px;}
}

@-webkit-keyframes dance-dj {
    0% {background-position: 0px;}
    100% {background-position: -3400px;}
}

.plug-avatar.dj.dance {animation: dance-dj 2000ms steps(20) infinite; -webkit-animation: dance-dj 2000ms steps(20) infinite;}

.plug-avatar.dj[class*="-e01"] {width: 220px; height: 275px;}

@keyframes dance-dj-epic {
    0% {background-position: 0px;}
    100% {background-position: -4400px;}
}

@-webkit-keyframes dance-dj-epic {
    0% {background-position: 0px;}
    100% {background-position: -4400px;}
}

.plug-avatar.dj.dance[class*="-e01"] {animation: dance-dj-epic 2000ms steps(20) infinite; -webkit-animation: dance-dj-epic 2000ms steps(20) infinite;}


/* Small Dragon Avatars 300x150 (7200x150)
 * Idle: 0 (1 Frame)
 * Blink: 300 - 1200 (3 Frames)
 * Dance: 1200 - 7200 (20 Frames)
 */

.plug-avatar.small[class*=" dragon-"] {width: 300px; height: 150px;}

@keyframes blink-small-dragon {
    0% {background-position: 0px;} 
    80% {background-position: 0px;}
    100% {background-position: -1200px;}
}

@keyframes dance-small-dragon {
    0% {background-position: -1200px;}
    100% {background-position: -7200px;}
}

@-webkit-keyframes blink-small-dragon {
    0% {background-position: 0px;} 
    80% {background-position: 0px;}
    100% {background-position: -1200px;}
}

@-webkit-keyframes dance-small-dragon {
    0% {background-position: -1200px;}
    100% {background-position: -7200px;}
}

.plug-avatar.small.blink[class*=" dragon-"] {animation: blink-small-dragon 2000ms steps(4) infinite; -webkit-animation: blink-small-dragon 2000ms steps(4) infinite;}
.plug-avatar.small.dance[class*=" dragon-"] {animation: dance-small-dragon 2000ms steps(20) infinite; -webkit-animation: dance-small-dragon 2000ms steps(20) infinite;}


/* Big Dragon Avatars 440x220 (10560x220)
 * Idle: 0 (1 Frame)
 * Blink: 440 - 1760 (3 Frames)
 * Dance: 1760 - 10560 (20 Frames)
 */

.plug-avatar.big[class*=" dragon-"] {width: 440px; height: 220px;}

@keyframes blink-big-dragon {
    0% {background-position: 0px;}
    80% {background-position: 0px;}
    100% {background-position: -1760px;}
}

@keyframes dance-big-dragon {
    0% {background-position: -1760px;}
    100% {background-position: -10560px;}
}

@-webkit-keyframes blink-big-dragon {
    0% {background-position: 0px;}
    80% {background-position: 0px;}
    100% {background-position: -1760px;}
}

@-webkit-keyframes dance-big-dragon {
    0% {background-position: -1760px;}
    100% {background-position: -10560px;}
}

.plug-avatar.big.blink[class*=" dragon-"] {animation: blink-big-dragon 2000ms steps(4) infinite; -webkit-animation: blink-big-dragon 2000ms steps(4) infinite;}
.plug-avatar.big.dance[class*=" dragon-"] {animation: dance-big-dragon 2000ms steps(20) infinite; -webkit-animation: dance-big-dragon 2000ms steps(20) infinite;}


/* DJ Dragon Avatars 340x220 (6800x220)
 * Dance: 0 - 6800 (20 Frames)
 */

.plug-avatar.dj[class*=" dragon-"] {width: 340px; height: 220px;}

@keyframes dance-dj-dragon {
    0% {background-position: 0px;}
    100% {background-position: -6800px;}
}

@-webkit-keyframes dance-dj-dragon {
    0% {background-position: 0px;}
    100% {background-position: -6800px;}
}

.plug-avatar.dj.dance[class*=" dragon-"] {animation: dance-dj-dragon 2000ms steps(20) infinite; -webkit-animation: dance-dj-dragon 2000ms steps(20) infinite;}